{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/core/css/lib/bootstrap.min.css') }}"/>
{% endblock %}

{% block topnav %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

{% endblock %}


{% block body %}
    <div id="main" ng-app="AppModule">

        <div class="container" ng-view>

        </div>

        <script type="text/ng-template" id="/home.html">
            {% include 'CoreBundle:Partials:home.html.twig' %}
        </script>

        {% block templates %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <p class="text-muted">Place sticky footer content here.</p>
            </div>
        </footer>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/core/js/lib/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/core/js/lib/angular-route.min.js') }}"></script>
    <script src="{{ asset('bundles/core/js/lib/angular-animate.min.js') }}"></script>
    <script src="{{ asset('bundles/core/js/lib/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app/main.js') }}"></script>
{% endblock %}
