{% extends 'AdminBundle:Default:base.html.twig' %}
{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <!-- <h2> Administration</h2> -->
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            {{class}} ({{ ((next + previous ) / 2 - 1) * items_per_page  + 1}} - {{ next * items_per_page - items_per_page }}) of {{ total_count }}
                        </h2>
                    </div>
                    <div class="text-right" style="margin-top:10px;margin-right: 10px">
                        <a href="{{ path(createURL) }}" class="alert-link"><button class="btn btn-primary waves-effect waves-circle waves-float">Create new document</button></a>
                    </div>
                    <div class="body table-responsive">
                        {% if data is not empty %}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Delete</th>
                                        <th>id</th>
                                        {%for key, field in data[0] | to_array %}
                                            {% if key not in ['id', 'password', 'salt', 'token'] %}
                                                <th>{{key}}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for item in data %}
                                    <tr>
                                        <th scope="row">
                                            <a href="{{ path(deleteURL, {id: item.id}) }}">
                                                <button type="button" class="btn btn-danger btn-circle waves-effect waves-circle waves-float">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </a>
                                        </th>
                                        <th scope="row"><a href="{{ path(editURL, {id: item.id}) }}">{{ item.id }}</a></th>
                                        {% for key, field in item | to_array %}
                                            {% if key not in ['id', 'password', 'salt', 'token'] %}
                                                <td>
                                                    {% if is_reference(field) %}
                                                        <a href="{{ get_reference_url(admin_routes_prefix, field) }}">{{ field | to_string }}</a>
                                                    {% else %}
                                                        {{ field | to_string }}
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="alert alert-warning">
                                <strong>Oh snap!</strong>
                                <span>No data available yet.Change a few things up and come back later.</span>
                                <span>Or <a href="{{ path(createURL) }}" class="alert-link">create</a> a new document now !</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            {% set currentRoute = app.request.attributes.get('_route') %}
            <nav>
                <ul class="pager">
                    <li class="previous">
                        {% if previous != 0 %}
                            <a href="{{ path(currentRoute, {'pageNumber': previous}) }}" class="waves-effect"><span aria-hidden="true">←</span> Previous</a>
                        {% else %}
                            <a href="{{ path(currentRoute, {'pageNumber': 1}) }}" class="waves-effect"><span aria-hidden="true">←</span> Previous</a>
                        {% endif %}
                    </li>
                    <li class="next">
                        {% if next <= total_page_count %}
                            <a href="{{ path(currentRoute, {'pageNumber': next}) }}" class="waves-effect">Next <span aria-hidden="true">→</span></a>
                        {% else %}
                            <a href="{{ path(currentRoute, {'pageNumber': total_page_count}) }}" class="waves-effect">Next <span aria-hidden="true">→</span></a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
{% endblock %}
